@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  background-color: white;
  color: black;

  --font-color-linkHighlight: #FFAC00;
  --font-color-secondary: rgb(130, 130, 130);
  --icon-color-blue: #1FB4FD;

  --font-family-main: "Josefin Sans", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;

  --font-size-logo: calc(1vw + 1rem);
  --font-size-large: calc(1.2vw + 1.2rem);
  --font-size-medium: calc(0.7vw + 0.7rem);
  --font-size-header: calc(0.5vw + 0.5rem);
  --font-size-secondary: calc(0.4vw + 0.4rem);

  --font-weight-main: 700;
  --font-weight-header: 500;
  --font-weight-secondary: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-family-secondary);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
