.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 20%;
    padding: calc(1vh + 1rem) calc(0.5vw + 0.5rem);
    background-color: var(--icon-color-blue);
}

.logoContainer {
    width: fit-content;
    align-content: center;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-header);
    width: 100%;
    height: auto;
    padding: calc(0.4vh + 0.4rem) calc(0.3vw + 0.3rem);
    border-radius: 6px;
    margin-bottom: calc(0.4vh + 0.4rem);
    transition-duration: 0.3s;
}

.navLinkContainer.active {
    background-color: var(--font-color-linkHighlight);
    fill: white;
    color: white;
}

.navLinkContainer.inactive:hover {
    color: var(--font-color-linkHighlight);
    fill: var(--font-color-linkHighlight);
}

.navLinkIcon {
    margin-right: calc(0.6vw + 0.6rem);
}

.navbarBottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.streak {
    font-size: var(--font-size-logo);
}