.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.questionIndexContainer {
    display: flex;
    flex-direction: row;
    width: auto;
}

.questionIndexDot {
    font-size: var(--font-size-large);
}
