.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium);
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 15px;
    padding: calc(1rem + 1vw);
    background: rgba(33, 11, 145, 0.15);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    transition-duration: 0.3s;
}

.container:hover {
    transform: scale(1.1);
    background: rgba(225, 227, 232, 0.2);
}

.container:active {
    transform: scale(0.95);
    transition-duration: 0.1s;
}
