.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: calc(2rem + 2vh);
    height: 100%;
    width: 100%;
}

.questionNumber {
    font-size: calc(var(--font-size-large) * 0.8);
    font-weight: var(--font-weight-header);
    width: 80%;
    text-align: center;
}

.questionText {
    font-size: var(--font-size-large);
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: calc(0.5rem + 0.5vw);
    width: 80%;
    height: 60%; 
}
