.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: calc(2rem + 2vh);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 2px solid orange;
    justify-content: center;
    padding: calc(1rem + 1vw);
}

.trendHeader {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-header);
}

.trendAuthor {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-secondary);
}

.trendDate {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-secondary);
}

.trendBody {
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-secondary);
} 
